.boring-footer {
    position: relative;
    margin-top: auto;
    display: flex;
    justify-content: space-between;  /* Spread items to opposite ends */
    align-items: center;
    width: 60vw;  /* Matches main content width, adjust as needed */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 10vh;
}

.boring-footer > * {
    width: 50%;
    margin: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}
.audio-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 10px; /* space between buttons */
    margin-bottom: 0.5em;
}

.volume-control {
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Style the play/pause button */
.play-pause-button {
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

/* Theme specific styles for the button */
.light-mode .play-pause-button {
    background-color: var(--background-light);
    color: var(--text-light);
    border: 1px solid var(--text-light);
}

.dark-mode .play-pause-button {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border: 1px solid var(--text-dark);
}

.volume-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    -moz-appearance: textfield; /* Removes arrows in Firefox */
}

/* Remove arrows from number input */
.volume-input::-webkit-outer-spin-button,
.volume-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.volume-symbol {
    font-size: 0.9em;
}

/* Theme-specific styles */
.light-mode .volume-input {
    background-color: var(--background-light);
    color: var(--text-light);
    border-color: var(--text-light);
}

.dark-mode .volume-input {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border-color: var(--text-dark);
}
/* Theme-specific styles */
.light-mode .volume-control input[type="range"] {
    background: var(--text-light);
}

.dark-mode .volume-control input[type="range"] {
    background: var(--text-dark);
}

.light-mode .volume-control input[type="range"]::-webkit-slider-thumb {
    background: var(--text-light);
}

.dark-mode .volume-control input[type="range"]::-webkit-slider-thumb {
    background: var(--text-dark);
}

.light-mode .volume-control input[type="range"]::-moz-range-thumb {
    background: var(--text-light);
}

.dark-mode .volume-control input[type="range"]::-moz-range-thumb {
    background: var(--text-dark);
}

.github{

}
.light-mode .github{
    filter: invert(0);
}

.dark-mode .github{
    filter: invert(1);
}
.dark-mode .github:hover{
    filter: invert(1) drop-shadow(0 0 2em var(--react-shadow-dark));
}