.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    transition: all 0.3s ease;
}

.header-content {
    max-height: 10vh;
    padding: 1rem 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme{
    font-size: calc(1.0vw + 1.0vh);
}

.header-content > * {
    width: 33.333%;
    max-height: 10vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

.header-content > h2 {
    font-size: calc(1.5vw + 1.5vh);
}


.light-mode .header-content {
    background-color: var(--background-light);
}

.dark-mode .header-content {
    background-color: var(--background-dark);
}



a {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.unstyled-link {
    color: inherit;        /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
}

.unstyled-link:hover,
.unstyled-link:focus,
.unstyled-link:active {
    color: inherit;        /* Keep same color on hover/focus/active */
    text-decoration: none; /* Ensure no underline appears */
}
